.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal {
    margin: 100px auto;
    width: 500px;
    background-color: #ffffff;
    border: 1px solid;
}

.modal .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #c3d2ef;
    text-align: left;
}

.modal .modal-header h3 {
    margin: 0;
    border-radius: 10px;
}

.modal .modal-content {
    padding: 15px;
    text-align: left;
}

.modal .modal-content form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}

.modal .modal-content form input {
    margin: 10px 0;
}

.modal .modal-footer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.modal .modal-footer button {
    margin: 10px;
}

.progress-bar {
    position: relative;
    border: 1px solid;
    margin-bottom: 10px;
    height: 20px;
}
